.cardComponent{
    background-color: white;
    height: fit-content;
    width: 320px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px ;
}

@media (min-width: 768px) {
    .cardComponent{
       width: 464px;
       height: fit-content;
    }
}

.questionContainer{
    display: flex;
}